<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd">


    <!-- 在xml中描述类与类的配置信息 -->
    <bean id="student" class="com.itguang.pojo.bean.Student">
        <!-- 属性注入-->
        <property name="rank" value="99"></property>
    </bean>

    <bean id="school" class="com.itguang.pojo.bean.School">
        <property name="student" ref="student"></property>
    </bean>


</beans>